<h1><span>Martial Arts</span></h1>

<% @martialarts.each do |martialart| %>

 <h2><span><%= link_to martialart.try(:name), martialart %></span> (<%= pluralize martialart.techniques.count, "Technique" %>)</h2>
 <p><%= truncate martialart.description, length: 200 %></p>
 <p>
  <%= link_to('Edit', edit_martialart_path(martialart)) if admin? %>
  <%= link_to('Destroy', martialart, method: :delete, data: { confirm: 'Are you sure?' }) if admin? %>
 </p>

<% end %>

<%= link_to('New Martial Art', new_martialart_path) if admin? %>

<div id="novo" style="display:none;">
  <%= form_for(@martialart) do |f| %>
    <% if @martialart.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@martialart.errors.count, "error") %> prohibited this martialart from being saved:</h2>

        <ul>
        <% @martialart.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description,  size: "84x20" %>
    </div>
    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>
</div>