<%= form_tag( search_techniques_path , method: "get") do %>
  <%= text_field_tag(:q) %>
  <span>Criado entre:</span>
  <%= text_field :technique, 'data_inicial', :type => "date"%>
  <span> e </span>
  <%= text_field :technique, 'data_final', :type => "date" %>
  <%= submit_tag("Search") %>
  <%= "<span style=\"color:#1973BF;\"> Consulta por: #{params[:q]} </span>".html_safe if params[:q].present? %>
<% end %>