<h1><span>Techniques</span></h1>

<% @techniques.each do |technique| %>

 <h2><span><%= link_to technique.try(:name), technique %></span> (<%= pluralize technique.videos.count, "Video" %>)</h2>
 <p><%= truncate technique.description, length: 200 %></p>
 
 <div class="technique_thumbs">
   <% technique.videos.each do |video| %>
     <div class="technique_thumb">
       <%= get_thumb video %>
     </div>
   <% end %>
 </div>
 
 <p>
  <%= link_to 'Show', technique %>
  <%= link_to('Edit', edit_technique_path(technique)) if owner?(technique) %>
  <%= link_to('Destroy', technique, method: :delete, data: { confirm: 'Are you sure?' }) if owner?(technique) %>
 </p>

<% end %>

<%= will_paginate @techniques %>
 
<%= link_to('New Technique', new_technique_path) %>