<h1><span>Techniques</span></h1>
<% @techniques.each_with_hit do |technique, hit| %>

 <h2><span><%= link_to highlight_name(technique, hit).html_safe, technique %></span> (<%= pluralize technique.videos.count, "Video" %>)</h2>
 <p><%= highlight_description(technique, hit).html_safe %></p>
 
 <div class="technique_thumbs">
   <% technique.videos.each do |video| %>
     <div class="technique_thumb">
       <%= get_thumb video %>
     </div>
   <% end %>
 </div>
 
 <p>
  <%= link_to('Edit', edit_technique_path(technique)) if owner?(technique) %>
  <%= link_to('Destroy', technique, method: :delete, data: { confirm: 'Are you sure?' }) if owner?(technique) %>
 </p>

<% end %>

<% if @techniques.count > 0  %>
  <%= will_paginate(@techniques) %>
<% end %>
 
<%= link_to('New Technique', new_technique_path) %>