<h1><span><%=h @technique.name %></span> das Artes Marciais: <%=h @technique.martialarts.map(&:name).join(", ") %></h1>

<div class="esq">
  <div class="quadro" style="width: 565px">
    <!-- <h1><%=h @technique.name %></h1> -->

    <% @technique.videos.each{|video| %>
      
      <iframe allowfullscreen="" class="youtube-player" frameborder="0" height="344" src="<%=h video.link %>" type="text/html" width="565">
        Caso esse video n&amp;amp;atilde;o seja visualizado acesso o <a href="<%=h video.link %>">link diretamente</a>
      </iframe>
      
    <% } %>

    <br />
    <label for="add" class="normal">Url do vídeo</label>
    <input id="add" type="text" size="40" />
    <select name="origem">
      <option value="youtube">Youtube</option>
      <option value="vimeo">Vimeo</option>
    </select>
    <br />
    <small><a href="#videos">Incluir</a></small>
    <span class="error"></span>
    <br />
  </div> <!-- /quadro -->
</div><!-- /esq -->

<div class="dir">
  <div class="quadro" style="width: 280px">
    <h1><span>Sinônimos</span></h1>
    <div id="synonymous">
    </div>
    <a href="#add_synonymous">Incluir Sinônimo</a>
  </div> <!-- /quadro sinonimos -->
  <br />
  <div class="quadro" style="width: 280px">
    <h1><span>TAGs</span></h1>
    <p style="font-size: 18px">Estrangulamentos <big>Choke</big>  <big>Strangles</big> BJJ <small>baseball</small> Choke</p>
    <%= text_field_tag "tags" %>
    <a href="#add_tag">Incluir tag</a>
  </div> <!-- /quadro tags -->
  <br />
  <!-- <div class="quadro transparente" style="width: 280px">
    <h1><img src="/assets/favorito.png" style="vertical-align: middle" /> <a href="#">Favorito</a></h1>
  </div> -->
</div><!-- /dir -->

<div class="matafloat"></div>

<!-- <h2>Comentários</h2>
<ul class="quadro transparente" style="width: 565px">
  <li>
    <img width="48" height="48" style="border: 1px solid #999;" align="right" src="http://1.gravatar.com/avatar/943753a9af1bd4a2f6466875ac5efccd?s=48&amp;d=identicon&amp;r=G" alt=""/>
    <big><b>Daiane gatinha</b> comentou: </big><br />
    <p>Eu gostei muito do layout. Quem fez? Quero contratar! Eu gostei muito do layout. Quem fez? Quero contratar! Eu gostei muito do layout. Quem fez? Quero contratar! Eu gostei muito do layout. Quem fez? Quero contratar! Eu gostei muito do layout. Quem fez? Quero contratar! </p>
  </li>
  <li>
    <img width="48" height="48" style="border: 1px solid #999;" align="right" src="http://0.gravatar.com/avatar/4e1636efebc6a3709bca9ddefa78055b?s=48&d=identicon&r=G" alt=""/>
    <big><b>Camilla pitanga</b> comentou: </big><br />
    <p>Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. Andoleta, lepeti peti petá! Negócio de coisa de coisa. </p>
  </li>
  <a href="#">Deixar um comentário</a>
</ul> -->

<script>
$(function(){
  var video = new Video(<%= @technique.id %>);
  $("[href=#videos]").click(function(){
    return video.cadastrar();
  });


  $("#tags").autocomplete({
    deferRequestBy: 300,
    serviceUrl: '/tags.json',
    onSelect: function (suggestion) {
      alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
    },
    paramName: 'q',
    transformResult: function(response) {
      var data = JSON.parse(response);
      return {
        suggestions: $.map(data, function(dataItem) {
          return { value: dataItem.name, data: dataItem.id };
        })
      };
    }
  });

});
</script>